.card {
    margin: 20px;
    width: 350px;
    height: 430px;
    border-radius: 20px;
    background-color: rgb(230, 224, 224);
    box-shadow: 5px 5px lightsteelblue ;
}
.card:hover {
    background-color:rgb(247, 180, 103);
    
}


.link {
    color: black;
    /* text-decoration: none; */
}


.img {
    width: 300px;
    height: 200px;
    margin-bottom: 7px;

}

.center {
    display: flex;
    justify-content: center;
}

.temperamentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.temperamento {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    background-color: white;
}
.h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

